.table-data {
    thead {

        tr {
            
            background-color: gray;
            
            font-weight: bold;
            
            text-align: center;

            th {
                text-align: center;
            
                padding: 10px;

                border: 2px black solid;

            }
        }
    }

    tbody {

        td {
            
            text-align: center;
            
            padding: 10px;

            border: 1px black solid;
        }
    }
}
