@using AzadiSoft.UserManager.Resources
@{
    var hasSuccessMessage = TempData.ContainsKey(Consts.SuccessMessage);

    var successMessage = TempData[Consts.SuccessMessage];

    var hasErrorMessage = TempData.ContainsKey(Consts.ErrorMessage);

    var ErrorMessage = TempData[Consts.ErrorMessage];

}

@if (hasSuccessMessage)
{
<div class="alert alert-success alert-dismissable">


    <a href="#" class="close" data-dismiss="alert" aria-label="close">
        <i class="fa fa-times"></i>
    </a>

    @successMessage

</div>
}

@if (hasErrorMessage)
{
    <div class="alert alert-danger alert-dismissable">
        
        <a href="#" class="close" data-dismiss="alert" aria-label="close">
            <i class="fa fa-times"></i>
        </a>

        @ErrorMessage

    </div>
}